[Unit]
Description=Service for supplr-server control

[Service]
User=taras
WorkingDirectory=/home/taras/test
ExecStart=<supplr-server full path>
Restart=always

[Install]
WantedBy=multi-user.target
