<!DOCTYPE html>
<html lang="en">
<head>
    <title>Monitor Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .modal-dialog-center {
            margin-left: 32vw;
        }
    </style>
</head>

<body>
    <script src="/static/js/monitor.js" defer></script>
    <div id="can_status_div" class="container-fluid" style="border-bottom: 4px solid #03a6f7; margin: 10px;">
        <h3>CAN State: <span id="can_status"><font color='gray'>N/A</font></span>
            <button id="button_config_window" style="float: right;" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#create_config_window">Presets</button>
            <button id="button_settings_window" style="float: right; margin-right: 20px;" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#settings_window">Settings</button>
        </h3>
        <br>
    </div>

    <ul class="nav nav-tabs">
        {% for node in nodes %}
             <li class="{% if loop.index == 1 %}active{% endif %}"><a role="tab" aria-controls="tab-content-{{node}}" data-toggle="tab" href="#tab-content-{{node}}" onclick="get_actual_node(this)"><h4>Board #{{node}}</h4></a></li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for node in nodes %}
            <div aria-labelledby="tab-content-{{node}}" id="tab-content-{{node}}"  class="tab-pane fade {% if loop.index == 1 %}in active{% endif %}">
                <div id="node-{{node}}" class="container-fluid" style="border-bottom:4px solid #03a6f7; margin: 10px;">
                    <div class="row">
                        <button id="button_update-{{node}}" style="margin: 20px" type="button" class="btn btn-success btn-lg" onclick="buttons_disabled(); read_channels({{node}});">READ VOLTAGE</button>
                        <button id="button_set-{{node}}" style="margin: -20px" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SetVoltageModal-{{node}}">SET VOLTAGE</button>
                        <!-- Modal window for set voltage  -->
                        <div class="modal fade" id="SetVoltageModal-{{node}}" tabindex="-1" role="dialog" aria-labelledby="SetVoltageModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-center" style="max-width: 80%;" role="document">
                                <div class="modal-content" style="width:1200px;">
                                    <h5 class="modal-title"><h2 align="center">Board #{{node}}</h2></h5>
                                    <div class="modal-footer">
                                        <div class="col-md-12 text-center">
                                            <button id="button_setting-{{node}}" type="button" class="btn btn-success btn-lg" value="set" onclick="buttons_disabled(); set_channels({{node}});">Turn ON voltage</button>
                                            <!-- Drop-down list -->
                                            <div id="btn_group_{{node}}" class="btn-group">
                                                <button id="config-{{node}}" type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="draw_config_files();">Presets</button>
                                                <div id="config_menu_{{node}}" class="dropdown-menu dropdown-menu-right">
                                                    <!-- Drop-down list from JS -->
                                                </div>
                                            </div>
                                            <!-- - -->
                                            <button id="clean-{{node}}" type="button" class="btn btn-primary btn-lg btn-danger" value="clean" onclick="clean_form({{node}});">Clean fields</button>
                                        </div>
                                    </div>
                                <div class="modal-body" style="width:1200px;">
                                    <form>
                                        <div class="form-row">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label for="{{node}}-value-all-ch" class="col-form-label"><h3>Set voltage for all channels:</h3></label>
                                                        <input  type="float" class="form-control" id="{{node}}-value-all-ch">
                                                    </div>
                                                </div>
                                            </div>
                                            <label for="{{node}}-value-all-ch" class="col-form-label"><h3>Single channels voltage:</h3></label>
                                            {% for i in range(16) %}
                                                {% set m = 8*i %}
                                                <div class="row text-center">
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            {% for j in range(1,5) %}
                                                            {% set ch = j+m %}
                                                            <div class="col-xs-3">
                                                                <div class="form-group">
                                                                    <label for="per-ch-{{ch}}" class="col-form-label">{{ch}}</label>
                                                                    <input  type="float" class="form-control" id="{{node}}-{{ch}}-value">
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                </div>
                                                <div class="col-xs-6">
                                                        <div class="row">
                                                            {% for j in range(5,9) %}
                                                            {% set ch = j+m %}
                                                            <div class="col-xs-3">
                                                                <div class="form-group">
                                                                    <label for="per-ch-{{ch}}" class="col-form-label">{{ch}}</label>
                                                                    <input  type="float" class="form-control" id="{{node}}-{{ch}}-value">
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button id="button_reset-{{node}}" style="margin: 20px" type="button" class="btn btn-primary btn-lg btn btn-danger" onclick="buttons_disabled(); reset_board({{node}});">Turn ALL channels OFF</button>
                    </div>

                    <table class="table table-striped table-bordered" style="border-width:4px">
                        <thead>
                            <tr class="bg-info text-white">
                                {% for ch in range(1,33) %}
                                    <th class="text-center" style="font-weight:bold; font-size: 120%; min-width:25px; max-width:25px;">{{ch}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for ch in range(1,33) %}
                                    <th id="{{node}}-{{ch}}-bg" style="min-width:25px; max-width:25px;" class="text-center" style="background-color: rgb(239, 235, 235, 0.891);">
                                        <span id="{{node}}-{{ch}}", style="color: gray; font-weight:normal; font-size: 120%;">N/A</span>
                                    </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="bg-info text-white">
                                {% for ch in range(33,65) %}
                                    <th class="text-center" style="font-weight:bold; font-size: 120%; min-width:25px; max-width:25px;">{{ch}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for ch in range(33,65) %}
                                    <th id="{{node}}-{{ch}}-bg" style="min-width:25px; max-width:25px;" class="text-center" style="background-color: rgba(239, 235, 235, 0.891);">
                                        <span id="{{node}}-{{ch}}", style="color:gray; font-weight:normal; font-size: 120%;">N/A</span>
                                    </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="bg-info text-white">
                                {% for ch in range(65,97) %}
                                    <th class="text-center" style="font-weight:bold; font-size: 120%; min-width:25px; max-width:25px;">{{ch}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for ch in range(65,97) %}
                                    <th id="{{node}}-{{ch}}-bg" style="min-width:25px; max-width:25px;" class="text-center" style="background-color: rgba(239, 235, 235, 0.891);">
                                        <span id="{{node}}-{{ch}}", style="color: gray; font-weight:normal; font-size: 120%;">N/A</span>
                                    </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="bg-info text-white">
                                {% for ch in range(97,129) %}
                                    <th class="text-center" style="font-weight:bold; font-size: 120%; min-width:25px; max-width:25px;">{{ch}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for ch in range(97,129) %}
                                    <th id="{{node}}-{{ch}}-bg" style="min-width:25px; max-width:25px;" class="text-center" style="background-color: rgba(239, 235, 235, 0.891);">
                                        <span id="{{node}}-{{ch}}", style="color:gray; font-weight:normal; font-size: 120%;">N/A</span>
                                    </th>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>



    <!-- Modal window for Gen voltage config -->
    <div class="modal fade" id="create_config_window" tabindex="-1" role="dialog" aria-labelledby="CreateConfigWindowLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" style="max-width: 80%;" role="document">
            <div class="modal-content" style="width:1200px;">
                <h5 class="modal-title"><h2 align="center">New voltage config</h2></h5>
                <div class="modal-footer">
                    <div class="col-md-12 text-center">
                        <button id="button_save_config" type="button" class="btn btn-success btn-lg" value="set" onclick="save_config();">Save config</button>
                        <button id="button_save_config" type="button" class="btn btn-primary btn-lg" value="get_volt" onclick="fill_presets()">Get Volt</button>
                        <button id="button_clear_fields_config" type="button" class="btn btn-danger btn-lg" value="clear_fields_config" onclick="clean_form_config()">Clean fields</button>
                    </div>
                </div>
            <div class="modal-body" style="width:1200px;">
                <form>
                    <div class="form-row">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <input style="text-align: center;" type="float" class="form-control" id="config_name" required placeholder="Config name"> <label style="text-align: right;"><h3><font color="#C1C1C1"> .txt</font></h3></label>
                                </div>

                                <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                    <input style="text-align: center;" type="float" class="form-control" id="config_value_all_ch" placeholder="Voltage for all channels">
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <label for="single-chs" class="col-form-label"><h3>Single channels voltage</h3></label>
                        </div>
                        {% for i in range(16) %}
                            {% set m = 8*i %}
                            <div class="row text-center">
                                <div class="col-xs-6">
                                    <div class="row">
                                        {% for j in range(1,5) %}
                                        {% set ch = j+m %}
                                        <div class="col-xs-3">
                                            <div class="form-group">
                                                <label for="per-ch-{{ch}}" class="col-form-label">{{ch}}</label>
                                                <input  type="float" class="form-control" id="config_value_{{ch}}">
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="row">
                                    {% for j in range(5,9) %}
                                    {% set ch = j+m %}
                                    <div class="col-xs-3">
                                        <div class="form-group">
                                            <label for="per-ch-{{ch}}" class="col-form-label">{{ch}}</label>
                                            <input  type="float" class="form-control" id="config_value_{{ch}}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

    <!-- Modal window for settings -->
    <div class="modal fade" id="settings_window" tabindex="-1" role="dialog" aria-labelledby="SettingsWindowLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
            <div class="modal-content">
                <h5 class="modal-title"><h2 align="center">Settings</h2></h5>
                <div class="modal-footer"></div>
            <div class="modal-body">
                    <h4><label style="float: left; margin: 10px;" class="checkbox-inline;"><input id="RaS" type="checkbox" checked onclick="setting_RaS();">&nbspReading after Setting/Reset</label></h4>
                    {% for i in range(4) %}
                        <br>
                    {% endfor %}
            </div>

            </div>
        </div>
        </div>
</body>
</html>
